services:
  cliniclab-info-page:
    container_name: cliniclab_info_page
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
